@font-face {
    font-family: josefin ;
    src: url(./font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
body{
    background-color: rgb(65, 64, 64);
}
header{
    color: white;
    text-align: center;
    font-family: josefin;
    margin-bottom: 5rem;
}

/*Parent element*/
.container{
    background-color: rgb(195, 193, 193);
    width: 800px;
    height: 400px;
    border-radius: 15px;
    /*Flexbox*/

}
/*Child element*/
.Div1 {
    background-color: rgb(93, 3, 116);
    width: 200px;
    height: 100px ;
    border-radius: 10px;
    /*Flexbox*/
}
.Div2{
    background-color: rgb(0, 147, 206);
    width: 200px;
    height: 100px ;
    border-radius: 10px;
    /*Flexbox*/
}
.Div3{
    background-color: rgb(2, 125, 57);
    width: 200px;
    height: 100px ;
    border-radius: 10px;
    /*Flexbox*/
}